<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

        <link rel="stylesheet" href="css/base.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Saira Extra Condensed' rel='stylesheet'>
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

        <link rel="stylesheet" id="font-awesome-css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css?ver=4.9.4" type="text/css" media="all">
        <script defer="" src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


        <title>My App</title>
    </head>
    <body style="background-color:#85c1e9;">
        <a href="#about" id="myBtn" title="Go to top">
            <i class="bi bi-arrow-bar-up"></i>
        </a> 

        <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #3498db;">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Cargar Archivo</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Peticiones
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Consultar Datos</a></li>
                      <li><a class="dropdown-item" href="#">Resumen de IVA por fecha y NIT</a></li>
                      <li><a class="dropdown-item" href="#">Resumen por rango de fechas</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Ayuda
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Datos del Estudiante</a></li>
                      <li><a class="dropdown-item" href="#">Documentacion</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

                <div class="cv-content">
                    <section class="resume-section " id="about" style="margin-top: 40px">

                        <div class="row justify-content-end">
                            <div class="col-1">
                                <button type="button" class="btn btn-outline-success" id="button-enviar">Enviar</button>
                            </div>
                            <div class="col-1">
                                <button type="button" class="btn btn-outline-danger" id="button-enviar">Reset</button>
                            </div>
                        </div>
                        &nbsp;

                        <div class="container">
                            <div class="row justify-content-md-center">
                              <div class="col" style="text-align: center;">
                                <label for="exampleFormControlTextarea1" class="form-label">Entrada</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="20"></textarea>
                              </div>
                              <div class="col" style="text-align: center;">
                                <label for="exampleFormControlTextarea1" class="form-label">Salida</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="20"></textarea>
                              </div>
                            </div>
                        </div>
                        
                    </section>

                    <hr/>
                    <!-- <section class="resume-section" id="experience">
                        <div class="resume-section-content">
                            <h2 class="mb-5 text-primary">Experiencia</h2>
                            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                                <div class="flex-grow-1">
                                    <h3 class="mb-0">Senior Web Developer</h3>
                                    <div class="subheading mb-3">Amazon Web Services</div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                                <div class="flex-shrink-0"><span class="text-primary">Marzo 2020 - Presente</span></div>
                            </div>
                            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                                <div class="flex-grow-1">
                                    <h3 class="mb-0">Web Developer</h3>
                                    <div class="subheading mb-3">Oracle</div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                                </div>
                                <div class="flex-shrink-0"><span class="text-primary">Diciembre 2016 - March 2020</span></div>
                            </div>
                            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                                <div class="flex-grow-1">
                                    <h3 class="mb-0">Junior Web Designer</h3>
                                    <div class="subheading mb-3">Microsoft Corporation</div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus scelerisque tortor sit amet sollicitudin. Pellentesque facilisis sem at dolor laoreet, ac auctor lacus ultrices.</p>
                                </div>
                                <div class="flex-shrink-0"><span class="text-primary">Julio 2015 - Noviembre 2016</span></div>
                            </div>
                            <div class="d-flex flex-column flex-md-row justify-content-between">
                                <div class="flex-grow-1">
                                    <h3 class="mb-0">Web Design Intern</h3>
                                    <div class="subheading mb-3">Google, LLC</div>
                                    <p>Phasellus tincidunt nibh et fringilla tincidunt. Sed laoreet neque id ante elementum, at vestibulum tortor imperdiet. Pellentesque vitae justo imperdiet, rhoncus urna in, accumsan lorem. Etiam fringilla nunc ex, vitae lacinia nisl sagittis eu.</p>
                                </div>
                                <div class="flex-shrink-0"><span class="text-primary">Septiembre 2012 - Junio 2015</span></div>
                            </div>
                        </div>
                    </section>

                    <hr/>
                    <section class="resume-section" id="interests">
                        <div class="resume-section-content">
                            <h2 class="mb-5 text-primary">Intereses</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit magna in lacinia dignissim. Sed varius vitae risus imperdiet venenatis. Morbi ullamcorper lacus non nisl vehicula, at ultricies nisi maximus. Morbi pulvinar mi ac nibh pulvinar, quis sodales arcu ullamcorper. Donec faucibus convallis sem sit amet gravida. Integer sagittis, neque id aliquam hendrerit, nisi mi vulputate massa, nec maximus orci nunc vitae mi.</p>
                            <p class="mb-0">Quisque vestibulum odio lacus, vitae commodo neque tempor ac. Nullam in sapien pretium, iaculis diam sit amet, porttitor sem. Proin sed dapibus libero. Phasellus sed arcu euismod, vehicula sem sit amet, consequat mi. Vivamus sit amet risus mi. Pellentesque at ipsum sed sem mollis egestas. Praesent quis lorem odio. Nullam purus est, gravida eget feugiat at, finibus sit amet erat. </p>
                            
                            <img src="assets/hobbie.jpg" class="img-thumbnail center">
                        </div>
                    </section>
                    <hr/> -->
                
                
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    </body>
</html>
