{% extends 'app/graph.html' %}

{% block contenedor %}

<div class="row align-items-center">
    <div class="col">
        <form>
          {% csrf_token %}
            <div class="mb-3">
                <h3>Resumen de IVA por fecha y NIT</h3>
                <hr>
            </div>

            <div class="mb-3">
                <label for="fecha" class="form-label">Fecha</label>
                <input type="date" id="fecha" placeholder="dd-mm-yyyy" value="" min="1997-01-01" max="2030-12-31" style="width: 50%;">
            </div>

            <button type="submit" class="btn btn-primary" >Generar</button>
            
        </form>
    </div>
    <div class="col" id = "graph-container">
        <canvas id="myChart"></canvas><br>
    </div>    
</div>  

{% endblock %}

{% block jsblock %}

  <script>
    window.jsPDF = window.jspdf.jsPDF;

    document.addEventListener('submit',function(event){
      event.preventDefault();
      var xValues = [];
      var yValues = [];
      var barColors = [];
      
      var fecha = document.getElementById('fecha').value 
      
      var objeto = {
        "fecha":fecha
      }

      const csrftoken = getCookie('csrftoken')
      console.log(objeto)


      fetch('http://127.0.0.1:8000/getTablaIva2', {
        method: 'POST',
        credentials : 'include',
        body: JSON.stringify(objeto),
        headers:{
        'Content-Type': 'application/json',
        'Access-Control-Allow-Origin': '*',
        'X-CSRFToken': csrftoken}
      })
        .then(res => res.json())
        .catch(err =>{
            console.log("Ha ocurrido un error");
            alert("Ha ocurrido un error")
        })
          .then(response =>{
            console.log(response)
            if( response.mensaje != "ERROR"){
              titulos = response.titulos
              emitido = response.emitido
              recibido = response.recibido

              emitido1 = [1,0,3,0]
              recibido1 = [0,3,0,1]

              $('#myChart').remove(); 
              $('#botonPDF').remove(); 
              $('#graph-container').append('<canvas id="myChart" style="background-color: #fff; padding-left:10px" ></canvas><br>');
              $('#graph-container').append('<button type="button" class="btn btn-primary" id ="botonPDF" onclick="saveAsPDF();">Generar reporte PDF</button>');
  
              new Chart("myChart", {
                type: "bar",
                data: {
                    labels: titulos,
                    datasets: [
                      {
                        label:"Recibido",
                        backgroundColor: "rgba(0,0,255,1.0)",
                        data: recibido
                      },
                      {
                        label:"Emitido",
                        backgroundColor: "rgba(255,0,0,1.0)",
                        data: emitido
                      },
                      
                    ]
                },
                options: {
                    legend: {display: true},
                    title: {
                    display: true,
                    text: response.titulo,
                    },
                    resposive: true,
                    scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero: true
                          }
                      }]
                    }
   
                }
                });

            }else{

                Swal.fire({
                  icon: 'error',
                  title: 'Error',
                  html: 'No se han encontrado registros en la fecha seleccionada'
                })
                 
            }

          
      
        })
    })

  </script>
    
{% endblock %}

